.manage-container {
    height: 100vh;
}

.manage-title {
    padding-top: 100px;
    text-align: center;
}

.canban-board { 
    display: flex;
    justify-content: center;
}

.canban-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}